@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body{ 
  background-color: #131B23;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}



.showsWrapper{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
}
.show{
  cursor: pointer;
}
