.showImage {
  display: block;
  margin: 0.5rem;
}

.showImage img {
    height: 100vw;
    width: 80vw;
    object-fit: cover;
}

h4 {
  text-align: center;
}

@media (min-width: 768px) {
  .showImage img {
    height: 25vw;
    width: 20vw;
  }
}
@media (min-width: 1024px) {
  .showImage img {
    height: 15.15vw;
    width: 13.2vw;
  }
}
