.showContainer{
    display:flex;
    flex-direction: column;
    align-items:center;

    margin-top:1.5rem;
    
}

.imgContainer{
    margin:1.5rem;
}

.description{
    margin:0 10rem 1.5rem;
}

.showContainer h1{
    text-align: center;
}

@media (max-width:768px){
    .description{
        margin:0px 20px;
    }
}

.showContainer button{
    padding:1rem;
    border-radius: 1rem;
    background-color:#54426B;
    border:none;
    font:inherit;
    color:white;
  
    margin-bottom:1rem;
  
  }
  
  .showContainer button:hover{
    background-color:#846ca4;
    cursor:pointer;
    
  }